*.csv
*.npz
.pickle
*.pkl
*.pt
*.pth
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2

saved_model/**
saved_model/


visualization/**
visualization_alibikt/**


# pyc
*.pyc
__pycache__/
*.zip


wandb/
dataset/

*.pdf

.vscode/

.ipynb_checkpoints/

.vscode/
